[submodule "third_party/openssl"]
	path = third_party/openssl
	url = https://github.com/openssl/openssl.git
	branch = openssl-4.0
[submodule "third_party/aria"]
	path = third_party/aria
	url = https://github.com/dqsjqian/Aria.git
	branch = main
